<section>
	<header class="major">
		<h2>{{ site.featuretteTitle }}</h2>
	</header>
	<div class="features">
		<article>
			{% if site.featuretteFirstIcon %}
			<span class="{{ site.featuretteFirstIcon }}"></span>
			{% elsif site.featuretteFirstImage %}
			{% endif %}
			<div class="content">
				<h3>{{ site.featuretteFirstHighlight }}</h3>
				<p>{{ site.featuretteFirstTagline }}</p>
			</div>
		</article>
		<article>
			<span class="{{ site.featuretteSecondIcon }}"></span>
			<div class="content">
				<h3>{{ site.featuretteSecondHighlight }}</h3>
				<p>{{ site.featuretteSecondTagline }}</p>
			</div>
		</article>
		<article>
			<span class="{{ site.featuretteThirdIcon }}"></span>
			<div class="content">
				<h3>{{ site.featuretteThirdHighlight }}</h3>
				<p>{{ site.featuretteThirdTagline }}</p>
			</div>
		</article>
		<article>
			<span class="{{ site.featuretteFourthIcon }}"></span>
			<div class="content">
				<h3>{{ site.featuretteFourthHighlight }}</h3>
				<p>{{ site.featuretteFourthTagline }}</p>
			</div>
		</article>
	</div>
</section>