<header id="header">
	<a href="{{ site.baseurl }}/index.html" class="logo"><strong>{{ site.title }}</strong> {{ site.tagline }}</a>
	<ul class="icons">
		{% if site.twitter %}
		<li><a href="https://twitter.com/{{ site.twitter }}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		{% endif %}
		{% if site.facebook %}
		<li><a href="https://www.facebook.com/{{ site.facebook }}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		{% endif %}
		{% if site.snapchat %}
		<li><a href="https://www.snapchat.com/add/{{ site.snapchat }}" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
		{% endif %}
		{% if site.instagram %}
		<li><a href="https://www.instagram.com/{{ site.instagram}}" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
		{% endif %}
		{% if site.github %}
		<li><a href="https://github.com/{{ site.github }}" class="icon fa-github"><span class="label">Github</span></a></li>
		{% endif %}
	</ul>
</header>