<section>
	<header class="major">
		<h2>Posts</h2>
	</header>
	<div class="posts">
	{% for a_post in site.posts %}
		<article>
			<a href="{{ a_post.url | prepend: site.baseurl }}" class="image"><img src="{{ site.baseurl }}/{{ a_post.image }}" alt="" /></a>
			<h3>{{ a_post.title }}</h3>
			<p>{{ a_post.tagline }}</p>
			<ul class="actions">
				<li><a href="{{ a_post.url | prepend: site.baseurl }}" class="button">Learn More</a></li>
			</ul>
		</article>
	{% endfor %}
	</div>
</section>