<section id="search" class="alt">
	<form method="get" action="{{ site.baseurl }}/search/">
		<input type="text" id="searchString" name="searchString" placeholder="Search" autocomplete="off">
	</form>
</section>
<script>
	(function() {
		var cx = '007308487989232191683:d9iyzsm5rxq';
		var gcse = document.createElement('script');
		gcse.type = 'text/javascript';
		gcse.async = true;
		gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(gcse, s);
	})();
</script>
<gcse:search queryParameterName="searchString"></gcse:search>