<nav id="menu">
	<header class="major">
		<h2>Menu</h2>
	</header>
	<ul>
		<li><a href="{{ site.baseurl }}/index.html">Home</a></li>
		{% for my_page in site.pages %}
			{% if my_page.showOnMenu == true %}
				<li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title}}</a></li>
			{% endif %}
		{% endfor %}
		<li>
			<span class="opener">Pages</span>
			<ul>
				{% for a_page in site.pages %}
					{% if a_page.showOnSubmenu == true %}
						<li><a href="{{ a_page.url | prepend: site.baseurl }}">{{ a_page.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</li>
	</ul>
</nav>