<section>
	<header class="major">
		<h2>Featured Posts</h2>
	</header>
	<div class="mini-posts">
	{% for my_post in site.posts %}
		{% if my_post.showOnHighlights == true %}
		<article>
			<a href="{{ my_post.url | prepend: site.baseurl }}" class="image"><img src="{{ site.baseurl}}/{{ my_post.image }}" alt="" /></a>
			<h3>{{ my_post.title }}</h3>
			<p>{{ my_post.tagline }}</p>
			<ul class="actions">
				<li><a href="{{ my_post.url | prepend: site.baseurl }}" class="button">More</a></li>
			</ul>
		</article>
		{% endif %}
	{% endfor %}		
	</div>
</section>